* {
    font-family: sans-serif;
    margin:0px;
    padding: 0px;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    cursor: pointer;
    width: 200px;
    height: 60px;
    border: 5px solid rgb(255, 0, 255);
    color: rgb(255, 0, 255);
    background: none;
    font-size: 1.3em;
    font-weight: 600;
    position: relative;

}

.btn::before, .btn::after {
    content: " ";
    position: absolute;
    background-color: black;
    width: 16px;
    height: 5px;
    transform: skewX(50deg);
    transition: 0.4s linear;
}

.btn::before {
    top: -5px;
    left: 10%;
}

.btn::after {
    top: 50px;
    right: 10%;
    
}

.btn:hover::before {
    left: 80%;
}

.btn:hover::after {
    right: 80%;
}