body {
    background-color: rgb(185, 109, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes float {
    0% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}

h1 {
    text-align: center;
    color: white;
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 15px;
    line-height: 100px;
    text-transform: uppercase;
    animation: float 2s linear infinite;
    animation-direction: alternate;
    text-shadow: 0 2px 0 #efefef,
                 0 4px 0 #efefef,
                 0 4px 0 #efefef,
                 0 4px 0 #efefef,
                 0 25px 5px rgba(0, 0, 0, 0.363);
    
}

