@charset "UTF-8";

body {
    font-family: 'Press Start 2P', cursive;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(168, 244, 247);
}

h1 {
    font-size: 2em;
    color: black;
}

h1::after {
    font-size: 2em;
    content: " ";
    animation: ilove 5s infinite ;
}

@keyframes ilove {
    0% {
        content: "🏕️";
    }
    25% {
        content: "🏖️";
    }
    50% {
        content: "🎮";
    }
    75% {
        content: "🍕";
    }
    100% {
        content: "💻";
    }
}