* {
    margin: 0;
    padding: 0;
    font-family: Helvetica , sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #EAEAEB;
}

#menu {
    padding: 30px 0px;
    
}


#menu a {
    padding: 0px 15px;
    text-decoration: none;
    color: gray;
}

#menu a span {
    color: #54D17A;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    float: right !important;
    width: 26px;
    display: none;
    padding: 20px 0px;
}

#toggle {
    display: none;
}


@media screen and (max-width:500px) {

    label {
        display: block;
    }


    nav {
        flex-wrap: wrap;
    }
    #menu {
        display: none;
        width: 100%;
        padding: 0;
        
    }

    #menu a {
        display: block;
        border-top: 1px solid #EAEAEB;
        margin: 0px;
        text-align: center;
        padding: 20px;
    }
    
    #toggle:checked + #menu {
        display: block;
    }
}