body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


a {
    text-decoration: none;
    color: white;
    font-size: 3em;
    border: 1px solid white;
    background-color: transparent;
    padding: 20px 40px;
    text-transform: uppercase;
}

a:hover {
    color: #047952;
    border: 1px solid #047952;
    animation: mexer 0.5s linear;
}


@keyframes mexer {
    0% {
        transform: rotate(15deg);
    }

    35% {
        transform: rotate(-15deg)
    }

    65% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-15deg);
    }
}